body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.authenticationButton {
  width: 80px;
  background: none;
  border: 1px solid rgb(74, 76, 79);
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: medium;
  font-weight: 400;
}

.authenticationButton:hover {
  border-color: white;
}
